 .u-section-1 {
  min-height: 634px;
}

.u-section-1 .u-image-1 {
  width: 571px;
  height: 154px;
  margin: 151px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 209px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 4px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 55px 15px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 209px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 4px;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 55px 15px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 597px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 161px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 161px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 525px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 617px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 146px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 563px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 92px;
  }
} .u-section-2 {
  min-height: 695px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 318px;
  --effect-scale: 1.5;
}

.u-section-2 .u-image-1 {
  background-image: url("images/magicgrill_flayer_1-2_1476395020.png");
  transition-duration: 1s;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 30px;
}

.u-section-2 .u-text-1 {
  transition-duration: 0.75s;
  font-weight: 700;
  margin: auto auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 318px;
  --effect-scale: 1.5;
}

.u-section-2 .u-image-2 {
  background-image: url("images/magic_rotisserie_flayer_gazli_1-2_1476395011.png");
  transition-duration: 1s;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-2 {
  transition-duration: 0.75s;
  font-weight: 700;
  margin: 213px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 318px;
  --effect-scale: 1.5;
}

.u-section-2 .u-image-3 {
  background-image: url("images/mongolian_grill_flayer_1-2_1476395033.png");
  transition-duration: 1s;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  transition-duration: 0.5s;
  font-weight: 700;
  margin: auto auto 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 318px;
  --effect-scale: 1.5;
}

.u-section-2 .u-image-4 {
  background-image: url("images/magic_rotisserie_flayer_gazli_1-2_1476395016.png");
  transition-duration: 1s;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  transition-duration: 0.75s;
  font-weight: 700;
  margin: auto auto 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 318px;
  --effect-scale: 1.5;
}

.u-section-2 .u-image-5 {
  background-image: url("images/multi_grill_flayer_1-2_1476395040.png");
  transition-duration: 1s;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  transition-duration: 0.5s;
  font-weight: 700;
  margin: auto auto 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 318px;
  --effect-scale: 1.5;
}

.u-section-2 .u-image-6 {
  background-image: url("images/magicgrill_flayer_1-2_1476395020.png");
  transition-duration: 1s;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  transition-duration: 0.5s;
  font-weight: 700;
  margin: auto auto 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 583px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 262px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 262px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 262px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 262px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 461px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 201px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 201px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 201px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 201px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 201px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 201px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1867px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 452px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 452px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 452px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 452px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 452px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1199px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 285px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 285px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 285px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 285px;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  color: #ffc002 !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  color: #ffc002 !important;
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-2.u-text-2.u-text-2:hover {
  color: #ffc002 !important;
}

.u-section-2 .u-text-2.u-text-2.u-text-2.hover {
  color: #ffc002 !important;
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-3.u-text-3.u-text-3:hover {
  color: #ffc002 !important;
}

.u-section-2 .u-text-3.u-text-3.u-text-3.hover {
  color: #ffc002 !important;
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-4.u-text-4.u-text-4:hover {
  color: #ffc002 !important;
}

.u-section-2 .u-text-4.u-text-4.u-text-4.hover {
  color: #ffc002 !important;
}

.u-section-2 .u-text-5,
.u-section-2 .u-text-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-5.u-text-5.u-text-5:hover {
  color: #ffc002 !important;
}

.u-section-2 .u-text-5.u-text-5.u-text-5.hover {
  color: #ffc002 !important;
}

.u-section-2 .u-text-6,
.u-section-2 .u-text-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-6.u-text-6.u-text-6:hover {
  color: #ffc002 !important;
}

.u-section-2 .u-text-6.u-text-6.u-text-6.hover {
  color: #ffc002 !important;
}.u-section-3 .u-sheet-1 {
  min-height: 717px;
}

.u-section-3 .u-text-1 {
  width: 468px;
  margin: 19px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 532px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 185px;
  height: 177px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: -177px auto 0 196px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 21px auto 0 196px;
}

.u-section-3 .u-text-4 {
  margin: 19px 30px 0 196px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 185px;
  height: 177px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: -177px auto 0 196px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 21px auto 0 196px;
}

.u-section-3 .u-text-7 {
  margin: 19px 30px 0 196px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 185px;
  height: 177px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: -177px auto 0 196px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 21px auto 0 196px;
}

.u-section-3 .u-text-10 {
  margin: 19px 30px 0 196px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 185px;
  height: 177px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: -177px auto 0 196px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 21px auto 0 196px;
}

.u-section-3 .u-text-13 {
  margin: 19px 30px 0 196px;
}

.u-section-3 .u-text-14 {
  line-height: 1;
  width: 468px;
  margin: 49px auto 60px;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 439px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -189px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -189px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: 33px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -210px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-4 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -189px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 32px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 32px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 32px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-14 {
    width: 340px;
  }
}