 .u-section-1 {
  min-height: 699px;
}

.u-section-1 .u-video-1 {
  height: 772px;
  margin-top: -73px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 601px;
  height: 174px;
  margin: -473px auto 60px;
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 700px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 156px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 825px;
  }

  .u-section-1 .u-video-1 {
    height: 898px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 98px;
    margin-top: -599px;
  }
} .u-section-2 {
  min-height: 251px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 274px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 4px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  margin: 67px auto 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 214px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 226px;
  }

  .u-section-2 .u-text-1 {
    animation-duration: 1500ms;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 180px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 21px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 566px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 134px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 102px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 152px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-3 {
  min-height: 862px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 11px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 519px;
  --effect-scale: 1.25;
}

.u-section-3 .u-image-1 {
  background-image: url("images/magicgrill_flayer_1-2_1476395020.png");
  transition-duration: 1s;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  transition-duration: 0.75s;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  font-size: 3.75rem;
  font-weight: 700;
  margin: 316px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  width: 333px;
  margin: 8px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 332px;
  --effect-scale: 1.25;
}

.u-section-3 .u-image-2 {
  background-image: url("images/magic_rotisserie_flayer_gazli_1-2_1476395011.png");
  transition-duration: 1s;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  transition-duration: 0.75s;
  font-weight: 700;
  font-size: 2.25rem;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  margin: 156px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  width: 309px;
  font-size: 1.5rem;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 8px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 332px;
  --effect-scale: 1.25;
}

.u-section-3 .u-image-3 {
  background-image: url("images/mongolian_grill_flayer_1-2_1476395033.png");
  transition-duration: 1s;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  transition-duration: 0.5s;
  font-size: 2.25rem;
  text-shadow: 2px 0 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 156px auto 0;
}

.u-section-3 .u-text-6 {
  transition-duration: 0.5s;
  font-size: 2.25rem;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  text-align: center;
  font-weight: 300;
  margin: 8px auto 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 711px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 274px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 544px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 328px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: 295px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 210px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 884px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 246px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 557px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 155px;
  }

  .u-section-3 .u-text-2 {
    width: 320px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 198px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 198px;
  }
}

.u-block-2aa0-11:not([data-block-selected]):not([data-cell-selected]),
.u-block-2aa0-11:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-2aa0-11:not([data-block-selected]):not([data-cell-selected]).u-block-2aa0-11:not([data-block-selected]):not([data-cell-selected]).u-block-2aa0-11:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #ffc002 !important;
}

.u-block-2aa0-11.u-block-2aa0-11.u-block-2aa0-11.hover {
  color: #ffc002 !important;
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-3.u-text-3.u-text-3:hover {
  color: #ffc002 !important;
}

.u-section-3 .u-text-3.u-text-3.u-text-3.hover {
  color: #ffc002 !important;
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  color: #ffc002 !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  color: #ffc002 !important;
}

.u-section-3 .u-text-5,
.u-section-3 .u-text-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-5.u-text-5.u-text-5:hover {
  color: #ffc002 !important;
}

.u-section-3 .u-text-5.u-text-5.u-text-5.hover {
  color: #ffc002 !important;
}

.u-section-3 .u-text-6,
.u-section-3 .u-text-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-6.u-text-6.u-text-6:hover {
  color: #ffc002 !important;
}

.u-section-3 .u-text-6.u-text-6.u-text-6.hover {
  color: #ffc002 !important;
}

.u-section-3 .u-text-4,
.u-section-3 .u-text-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-4 {
  color: #ffc002 !important;
  text-shadow: 0 0 8px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-section-3 .u-text-4 {
  color: #ffc002 !important;
  text-shadow: 0 0 8px rgba(128,128,128,1) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 650px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 44px auto 44px 0;
}

.u-section-4 .u-image-1 {
  min-height: 574px;
  background-image: url("images/black_parilla_flayer_1-2_1476395011-removebg-preview.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 574px;
}

.u-section-4 .u-container-layout-2 {
  padding: 13px 0;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(255,255,255,1);
  margin: 16px 30px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(255,255,255,1);
  margin: 20px 30px 0;
}

.u-section-4 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(255,255,255,1);
  margin: 30px 31px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  border-style: none;
  margin: 30px 31px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 473px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 473px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    transition-duration: 0.5s;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    transition-duration: 0.5s;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
    transition-duration: 0.5s;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-4 .u-image-1 {
    min-height: 725px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-4 .u-image-1 {
    min-height: 544px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-4 .u-image-1 {
    min-height: 343px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 402px;
}

.u-section-5 .u-text-1 {
  margin: 55px auto 0;
}

.u-section-5 .u-text-2 {
  width: 679px;
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin: 20px 0 55px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 584px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-image-6 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-image-7 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

.u-section-5 .u-image-8 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-9 {
  padding: 30px;
}

.u-section-5 .u-image-9 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-10 {
  padding: 30px;
}

.u-section-5 .u-image-10 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-11 {
  padding: 30px;
}

.u-section-5 .u-image-11 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 482px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1477px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-9 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-10 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-11 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-6 {
  background-image: none;
  min-height: 804px;
}

.u-section-6 .u-image-1 {
  height: 667px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  margin: -633px auto 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: -419px;
    margin-left: calc(((100% - 1140px) / 2) + 323px);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 278px);
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 977px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 309px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -432px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 893px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: -253px;
    margin-left: calc(((100% - 1140px) / 2) + 419px);
  }
} .u-section-7 {
  background-image: none;
  min-height: 804px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  min-height: 822px;
  background-image: url("images/black_parilla_flayer_1-2_1476395012.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 822px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  margin: 343px 51px 0 -15px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 660px;
  }

  .u-section-7 .u-image-1 {
    min-height: 678px;
  }

  .u-section-7 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 678px;
  }

  .u-section-7 .u-text-1 {
    margin-right: -15px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 1585px;
  }

  .u-section-7 .u-image-1 {
    min-height: 1039px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1209px;
  }

  .u-section-7 .u-image-1 {
    min-height: 779px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 605px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 26px;
  }

  .u-section-7 .u-image-1 {
    min-height: 490px;
  }

  .u-section-7 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-8 {
  background-image: none;
  min-height: 874px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 822px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  margin: 332px -23px 0;
}

.u-section-8 .u-image-1 {
  min-height: 822px;
  background-image: url("images/parilla_grill_flayer_1-2_1476395038.png");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 730px;
  }

  .u-section-8 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 678px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 96px;
  }

  .u-section-8 .u-image-1 {
    min-height: 678px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 1585px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-1 {
    min-height: 1298px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 1209px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 974px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 791px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 105px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: 257px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-1 {
    min-height: 613px;
  }
}