.u-section-1 .u-sheet-1 {
  min-height: 263px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 331px;
  margin: 60px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 650px;
}

.u-section-2 .u-layout-wrap-1 {
  min-height: 1046px;
  margin: 44px auto 44px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 886px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 253px;
  height: 73px;
  margin: 0 auto;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 438px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 223px;
  height: 65px;
  margin: 152px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 438px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 223px;
  height: 65px;
  margin: 151px auto 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 443px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  text-align: left;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  text-align: left;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  text-align: left;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  text-align: left;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  text-align: left;
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  text-align: left;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 443px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-13 {
  font-weight: 400;
  text-align: left;
  margin: 20px 0 0;
}

.u-section-2 .u-text-14 {
  font-weight: 400;
  text-align: left;
  margin: 20px 0 0;
}

.u-section-2 .u-text-15 {
  font-weight: 400;
  text-align: left;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 735px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 731px;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
    min-height: 250px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 361px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 365px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 365px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1084px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 594px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1120px;
  }

  .u-section-2 .u-layout-wrap-2 {
    min-height: 96px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 277px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 314px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 840px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    min-height: 350px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 208px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 208px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-2 .u-layout-wrap-2 {
    min-height: 68px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 131px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 131px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}