 .u-section-1 {
  min-height: 971px;
}

.u-section-1 .u-image-1 {
  width: 376px;
  height: 109px;
  margin: 44px auto 0;
}

.u-section-1 .u-image-2 {
  height: 569px;
  margin-top: 44px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  min-height: 288px;
  background-image: none;
  box-shadow: 2px 2px 24px 0 rgba(128,128,128,1);
  width: 1140px;
  height: auto;
  margin: -138px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto -14px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 302px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  text-transform: none;
  font-weight: 900;
  font-size: 3rem;
  margin: 92px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 302px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 547px;
  height: 547px;
  margin: -517px calc(((100% - 1140px) / 2)) 26px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 964px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 879px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 99px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin: 164px 16px -51px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 162px;
  }

  .u-section-1 .u-image-3 {
    height: 340px;
    margin-top: -591px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 544px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px 305px 0 auto;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  height: auto;
  min-height: 208px;
  margin: 17px -11px 60px 11px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 208px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 46px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 46px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    min-height: 172px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 172px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 234px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 176px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 33px 33px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 430px;
}

.u-section-3 .u-table-1 {
  margin: 60px auto;
}

.u-block-dd5b-4 {
  font-weight: 700;
}

.u-block-dd5b-7 {
  border-style: solid;
}

.u-section-3 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-table-cell-8 {
  border-style: solid;
  font-weight: 700;
}

.u-section-3 .u-table-cell-9 {
  border-style: solid;
}

.u-section-3 .u-table-cell-10 {
  border-style: solid;
}

.u-section-3 .u-table-cell-11 {
  border-style: solid;
}

.u-section-3 .u-table-cell-12 {
  border-style: solid;
}

.u-section-3 .u-table-cell-13 {
  border-style: solid;
}

.u-section-3 .u-table-cell-14 {
  border-style: solid;
}

.u-section-3 .u-table-cell-15 {
  border-style: solid;
  font-weight: 700;
}

.u-section-3 .u-table-cell-16 {
  border-style: solid;
}

.u-section-3 .u-table-cell-17 {
  border-style: solid;
}

.u-section-3 .u-table-cell-18 {
  border-style: solid;
}

.u-section-3 .u-table-cell-19 {
  border-style: solid;
}

.u-section-3 .u-table-cell-20 {
  border-style: solid;
}

.u-section-3 .u-table-cell-21 {
  border-style: solid;
}

.u-section-3 .u-table-cell-22 {
  border-style: solid;
  font-weight: 700;
}

.u-section-3 .u-table-cell-23 {
  border-style: solid;
}

.u-section-3 .u-table-cell-24 {
  border-style: solid;
}

.u-section-3 .u-table-cell-25 {
  border-style: solid;
}

.u-section-3 .u-table-cell-26 {
  border-style: solid;
}

.u-section-3 .u-table-cell-27 {
  border-style: solid;
}

.u-section-3 .u-table-cell-28 {
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 441px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 11px 5px;
}

.u-section-4 .u-image-1 {
  width: 507px;
  height: 359px;
  margin: 9px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  margin: 0 15px;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-4 .u-image-1 {
    width: 460px;
    height: 325px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-4 .u-image-1 {
    width: 350px;
    height: 247px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-4 .u-image-1 {
    width: 330px;
    height: 233px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 256px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-line-1 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: 53px auto 0 225px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  margin: -13px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-5 .u-line-1 {
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-line-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 256px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 262px;
  }
} .u-section-6 {
  min-height: 356px;
}

.u-section-6 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 377px);
  background-image: none;
  min-height: 140px;
  margin: 136px auto 0 0;
}

.u-section-6 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-6 .u-image-1 {
  width: 401px;
  height: 110px;
  margin: 0 -140px 0 auto;
}

.u-section-6 .u-group-2 {
  width: 457px;
  background-image: none;
  min-height: 140px;
  margin: -140px 0 60px auto;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 56px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 377px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 377px);
  }

  .u-section-6 .u-group-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 377px);
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 478px;
  }

  .u-section-6 .u-group-1 {
    width: 390px;
    min-height: 152px;
    margin-top: 37px;
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    width: 348px;
    height: 101px;
    margin-top: 26px;
    margin-right: auto;
  }

  .u-section-6 .u-group-2 {
    width: 340px;
    min-height: 115px;
    margin-top: 87px;
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 21px;
  }
} .u-section-7 {
  min-height: 1898px;
}

.u-section-7 .u-image-1 {
  height: 513px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  margin: -493px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-list-1 {
  width: 1140px;
  margin: 477px auto 0;
}

.u-section-7 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 352px;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-image-2 {
  height: 254px;
  margin: 39px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-image-3 {
  height: 254px;
  margin: 39px auto 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-image-4 {
  height: 254px;
  margin: 39px auto 0;
}

.u-section-7 .u-table-1 {
  width: 1140px;
  margin: 20px auto 0;
}

.u-block-2d92-4 {
  font-weight: 700;
}

.u-block-2d92-7 {
  border-style: solid;
}

.u-section-7 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-7 .u-table-cell-7 {
  border-style: solid;
  font-weight: 700;
}

.u-section-7 .u-table-cell-8 {
  border-style: solid;
}

.u-section-7 .u-table-cell-9 {
  border-style: solid;
}

.u-section-7 .u-table-cell-10 {
  border-style: solid;
}

.u-section-7 .u-table-cell-11 {
  border-style: solid;
}

.u-section-7 .u-table-cell-12 {
  border-style: solid;
}

.u-section-7 .u-table-cell-13 {
  border-style: solid;
  font-weight: 700;
}

.u-section-7 .u-table-cell-14 {
  border-style: solid;
}

.u-section-7 .u-table-cell-15 {
  border-style: solid;
}

.u-section-7 .u-table-cell-16 {
  border-style: solid;
}

.u-section-7 .u-table-cell-17 {
  border-style: solid;
}

.u-section-7 .u-table-cell-18 {
  border-style: solid;
}

.u-section-7 .u-table-cell-19 {
  border-style: solid;
  font-weight: 700;
}

.u-section-7 .u-table-cell-20 {
  border-style: solid;
}

.u-section-7 .u-table-cell-21 {
  border-style: solid;
}

.u-section-7 .u-table-cell-22 {
  border-style: solid;
}

.u-section-7 .u-table-cell-23 {
  border-style: solid;
}

.u-section-7 .u-table-cell-24 {
  border-style: solid;
}

.u-section-7 .u-text-2 {
  font-size: 2.25rem;
  width: 509px;
  margin: 91px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  margin: 41px 80px 60px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 1868px;
  }

  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-7 .u-list-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 290px;
  }

  .u-section-7 .u-image-2 {
    height: 207px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 207px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    height: 207px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-table-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 531px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-7 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 2308px;
  }

  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-7 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 666px;
  }

  .u-section-7 .u-image-2 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-table-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 421px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-7 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 2982px;
  }

  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-7 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-7 .u-image-2 {
    height: 367px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 367px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    height: 367px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-table-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 331px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-7 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 2606px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -40px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -453px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-7 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-image-2 {
    height: 226px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 226px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    height: 226px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-table-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-7 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    width: 340px;
  }

  .u-section-7 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }
}.u-section-8 .u-sheet-1 {
  min-height: 256px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-line-1 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: 53px auto 0 225px;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  margin: -13px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-8 .u-line-1 {
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-line-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 256px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 262px;
  }
}